@font-face {
  font-family: avenir-regular;
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: avenir-demi;
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf");
}
@font-face {
  font-family: avenir-bold;
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf");
}
* {
  border: 0;
  margin: 0;
}

h1 {
  font-family: avenir-demi;
  font-size: 25px;
}

.header {
  height: 100px;
  width: 100vw;
  max-width: 100%;
  background-color: #323232;
  color: #e1e1e1;
  font-family: avenir-regular;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header {
    height: 60px;
  }
}

.header__logo {
  padding: 1rem;
}

.header__nav {
  display: flex;
}

.header__nav-links {
  list-style: none;
  padding: 0;
  display: flex;
}

.header__nav-link {
  padding: 15px;
  text-align: center;
  color: #e1e1e1;
  text-decoration: none;
}
.header__nav-link:hover {
  color: #fff;
}
.header__nav-link--active {
  color: #fff;
  font-weight: bold;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #323232;
  color: white;
  width: 100vw;
  max-width: 100%;
  font-family: avenir-regular;
  padding: 16px 0;
}
.footer__container--top {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  display: block;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__container--top {
    display: flex;
    box-sizing: border-box;
  }
  .footer__container--top h1 {
    margin-right: 2rem;
  }
}
.footer__container--middle {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  display: block;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__container--middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__container--bottom {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  display: block;
}

.footer__container .photo {
  max-width: 100%;
  height: auto;
  padding-right: 2rem;
  display: inline;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
  align-items: center;
}

.hero {
  position: relative;
  background-image: url("/assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 100%;
  height: 250px;
  font-family: avenir-regular;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.hero__text {
  font-family: avenir-regular;
  padding-left: 16px;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero h1,
.hero p {
  position: relative;
  z-index: 1;
}

.main {
  font-family: avenir-regular;
  padding: 20px 16px;
}
.main__heading {
  font-size: 25px;
  font-family: avenir-demi;
  padding-bottom: 16px;
}
.main h4 {
  font-size: 18px;
  padding: 1rem 0;
}
.main__container-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__image {
  max-width: 100%;
}

.photo-gallery__container {
  max-width: 100%;
  display: block;
  padding: 16px;
}
.photo-gallery__container__heading {
  font-family: avenir-demi;
  font-size: 25px;
}
.photo-gallery__container__photos {
  display: flex;
  flex-direction: column;
}
.photo-gallery__container .photo {
  max-width: 100%;
  padding-bottom: 16px;
}

.comments {
  padding: 16px;
  display: flex;
  flex-direction: column;
}
.comments__box {
  display: flex;
}
.comments__heading {
  padding-bottom: 16px;
}
.comments__input-heading {
  font-family: avenir-demi;
  font-size: 16px;
}
.comments__profile-icon {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 3rem;
  padding: 1rem;
}/*# sourceMappingURL=bio.css.map */