@import './partials/variables';
@import './partials/mixins';
@import './partials/header';
@import './partials/hero';
@import './partials/main';
@import './partials/photo-gallery';
@import './partials/footer';

* {
    border: 0;
    margin: 0;

    @font-face {
        font-family: avenir-regular;
        src: url("/assets/fonts/AvenirNextLTPro-Regular.otf");
    }

    @font-face {
        font-family: avenir-demi;
        src: url("/assets/fonts/AvenirNextLTPro-Demi.otf");
    }

    @font-face {
        font-family: avenir-bold;
        src: url("/assets/fonts/AvenirNextLTPro-Bold.otf");
    }
}
